// src/css/quasar.variables.sass

$primary: #4254F3;
$secondary: #46BAB8;
$accent: #BDADEA;
$dark: #474747;
$dark-page: #252525;
$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;
